:root {
    --bg_header: #2c3e50;
    --bg_section_green: #1abc9c;
    --bg_footer: #3a546d;
    --footer_bottom: #2c3e50;
    --square: #ba5b63;
}

header {
    background-color: var(--bg_header);
}

.section_green {
    background-color: var(--bg_section_green);
}

.square {
    height: 160px;
    background-color: var(--square);
}

.footer_top {
    background-color: var(--bg_footer);
}

.footer_bottom {
    background-color: var(--footer_bottom);
}

.line-star {
    height: 4px;
    max-width: 80px;
    width: 100%;
}