:root {
    --bg_header: #2c3e50;
    --bg_section_green: #1abc9c;
    --bg_footer: #3a546d;
    --footer_bottom: #2c3e50;
    --square: #ba5b63;
}

header {
    background-color: var(--bg_header);
}

.section_green {
    background-color: var(--bg_section_green);
}

.square_img {
    height: 250px;
}

.footer_top {
    background-color: var(--bg_footer);
}

.footer_bottom {
    background-color: var(--footer_bottom);
}

.line-star {
    height: 4px;
    max-width: 80px;
    width: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(26, 188, 156, 0.7);
    display: none;
    cursor: pointer;
}

.img-container:hover .overlay{
    display: inline-block;
    
}
.fa-plus {
    font-size: 5rem;
}